html{
  scroll-behavior: smooth;
}
.sell-creations{ 

  padding:50px ;
  width: 100%;
  height: 600px;
}
.sell-creations-content{
   width: 100%;
   height: 500px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.slick-slider{
  width: 100%;  
}
.slick-slide.slick-center {
  /* Your styles go here */
  transform: scale(1.2); /* Example scale for the center slide */
}
.slick-slide{
padding-left: 20px;
}
.sell-creations-card {
  
   
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --main-color: #323232;
    --main-focus: #bbaaee;
    width: 400px;
    height: 400px;
    background: var(--bg-color);
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 20px;
   
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .sell-creations-card:last-child {
    justify-content: flex-end;
  }
  .sell-creations-card-img {
     
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
   
  }

   .sell-creations-card-img {
    transition: transform 5s ease;
   }
   .sell-creations-card-img :hover{
    animation: zoom-in 1s ease;
   }
   @keyframes zoom-in {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.5);
    }
   
  }
  
  
  .sell-creations-card-title {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: var(--font-color);
  }
  
  .sell-creations-card-subtitle {
    font-size: 14px;
    font-weight: 400;
    color: var(--font-color-sub);
    overflow-y: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .sell-creations-card-divider {
    width: 100%;
    border: 1px solid var(--main-color);
    border-radius: 50px;
  }
  
  .sell-creations-card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .sell-creations-card-price {
    font-size: 20px;
    font-weight: 500;
    color: var(--font-color);
  }
  
  .sell-creations-card-price span {
    font-size: 20px;
    font-weight: 500;
    color: var(--font-color-sub);
  }
  
  .sell-creations-card-btn {
    height: 35px;
    background: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 5px;
    padding: 0 15px;
    transition: all 0.3s;
    cursor: pointer;
  }
  
  .sell-creations-card-btn svg {
    width: 100%;
    height: 100%;
    fill: var(--main-color);
    transition: all 0.3s;
  
  }
  
 
  .sell-creations-card-btn:hover {
    border: 2px solid var(--main-focus);
  }
  
  .sell-creations-card-btn:hover svg {
    fill: var(--main-focus);
  }
  
  .sell-creations-card-btn:active {
    transform: translateY(3px);
  }
  /* Add these styles to your SellCreations.css or your stylesheet */
.slick-slide {
  transition: transform 0.5s;
}

.slick-center {
  transform: scale(1.2); /* You can adjust the scale factor according to your preference */
  z-index: 1;
}
