
  @media only screen and (max-width: 768px) {
    .styled-table th,
    .styled-table td {
      font-size: 14px; /* Adjust font size for smaller screens */
    }
  
    .Btn {
      width: 100%; /* Make the button take full width on smaller screens */
    }
  
    .Btn:hover {
      width: 100%; /* Ensure the hover effect works properly on smaller screens */
    }
  }